{% load static %} {% block content %}
<header class="cabecalho">
  <img src="{% static '/assets/logo/Logo.png' %}" alt="Logo panificadora" />
  <div class="cabecalho__busca">
    <div class="busca__fundo">
      <input
        class="busca__input"
        type="text"
        placeholder="O que você procura?"
      />
      <img
        class="busca__icone"
        src="{% static '/assets/ícones/1x/search.png' %}"
        alt="ícone de search"
      />
    </div>
  </div>
</header>
{% endblock %}
