{% load static %} {% block content %}
<div class="pagina-inicial">
  <header class="cabecalho">
    <img src="{% static '/assets/logo/Logo.png' %}" alt="Logo panificadora" />
    <div class="cabecalho__busca">
      <div class="busca__fundo">
        <input
          class="busca__input"
          type="text"
          placeholder="O que você procura?"
        />
        <img
          class="busca__icone"
          src="{% static '/assets/ícones/1x/search.png' %}"
          alt="ícone de search"
        />
      </div>
    </div>
  </header>
  <main class="principal">
    <section class="menu-lateral">
      <nav class="menu-lateral__navegacao">
        <a href="{% url 'index' %}"
          ><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}" />
          Home</a
        >
        <a href="{% url 'adicionar_produto' %}"
          ><img
            src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"
          />
          Adicionar Produtos</a
        >
        <a href="{% url 'lista_produtos' %}"
          ><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}" />
          Lista de Produtos</a
        >
        <a href="#"
          ><img
            src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"
          />
          Surpreenda-me com Pão</a
        >
      </nav>
    </section>
    {% endblock %}
