{% load static %}
{% block content %}
<footer class="rodape">
    <div class="rodape__icones">
      <a href="https://github.com/xAzKaR" target="”_blank”">
        <img
          src="{% static '/assets/ícones/1x/github.png' %}"
          alt="ícone github"
        />
      </a>
      <a href="https://www.instagram.com/leogomidz/" target="”_blank”">
        <img
          src="{% static '/assets/ícones/1x/instagram.png' %}"
          alt="ícone instagram"
        />
      </a>
    </div>
    <p class="rodape__texto">xAzKaR, desenvolvido para disciplina</p>
  </footer>
{% endblock %}